:root
{
    --header: #191922
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

body {
    min-width: 374px;
    margin: 0;

}

.nav-font-size {
    font-size: 25px;
}

.font-size {
    font-size: 25px;
}


.header {
    position: relative;
    overflow: clip;

    background-color: var(--header);

    width: 100%;
    height: 100px;


    margin-top: -2.5em;

}

.address {
    color: #fff;
    font-size: 16px;
    text-align: left;
    position: absolute;
    left: 3%;
    top: 30px;
}

.header-right {
    display: flex;
    justify-content: flex-end;
    position: relative;
    right: 2%;
    top: 25px;
}

.name {
    color: #fff;

    position: relative;
    text-align: right;

    font-size: 2.5vmin;
    font-style: italic;

}

.img-list {
    position: absolute;
    z-index: 1;
}

.img-list > li {
    display: inline-block;
    padding: 5px;
}

.img-list > li > a > img {
    width: 25px;
    height: 25px;
}


.nav-list > li {
    display: inline-block;
    padding: 15px;
}

.navigation {
    background-color: var(--header);

    width: 100%;
    height: 10%;

    text-align: center;
    margin-top: -25px;

    position: sticky;
    top: 0;

    z-index: 1;

}

.nav-list a:link, a:visited {
    color: #fff;
    text-decoration: none;
}

.nav-list a:hover {
    color: #d3d3d3;
}

.pic {
    background: linear-gradient(rgba(54, 62, 83, 0.541) 80%, rgba(135, 140, 155, 0.253)) , url(img/placeholder1.jpg);
    background-size: cover;
    background-position-y: 50%;

    width: 100%;
    height: 600px;

    margin-top: -25px;
    padding-top: 0px;
}

.pic::after {
    background-color: var(--header);
    width: 100%;
    height: 600px;
    opacity: 0.3;
}

.columns {
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    padding: 30px;
}

.column-left {
    display: flex;
    flex-direction: column;
}

.column-right {
    display: flex;
    flex-direction: column;
    width: 50%;
    position: relative;
}

.stripe::before {
    display: block;
    position: absolute;
    content: " ";
    width: 3px;
    height: 50%;
    background-color: #e7812e;
    left: -3%;
}

.menu {
    position:absolute;
    left: 40%;
}

.title {
    text-align: center;
}

.title::before {
    display: block;
    position: relative;
    content: " ";
    width: 60%;
    height: 3px;
    background-color: #e7812e;
    left: 20%;
    top: -4px;
} 

.menu-col {
    display: flex;
    flex-basis: content;
}

.mg-l-10 {
    margin-left: 10%;
}

.menu > .columns > .menu-col > .menu-item > ul > li {
    list-style: none; 
}

.menu > .columns > .menu-col > .menu-item > ul > li >p {
    display: inline;
}


.menu-pic {
    height: 200px;
    width: auto;
    float: left;
    margin-right: 30px;
    border-radius: 50%;
}

.absolute {
    position: absolute;
}

ul.leaders {
    max-width: 20em;
    padding: 0;
    overflow-x: hidden;
    list-style: none;
}

ul.leaders li:before {
    float: left;
    width: 0;
    white-space: nowrap;
    content:
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . ";
}

ul.leaders span:first-child {
    padding-right: 0.33em;
    background: white;
}

ul.leaders span + span {
    float: right;
    padding-left: 0.33em;
    background: white;
}


.grid-main {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: 50px;
}

.grid-start-3 {
    grid-column-start: 3;
}

.grid-span-3 {
    grid-column: span 3;
}


@media (max-width: 1200px) {
    .mg-l-10 {
        margin-left: 0;
    }
}


@media (max-width: 640px) {
    .mg-l-10 {
        margin-left: -3%;
    }

    .grid-start-3 {
        grid-column-start: 1;
    }
    
    .grid-span-3 {
        grid-column: span 5;
    }
    
}

@media (max-width: 600px) {

    .font-size {
        font-size: 16px;
    }

    .column-right {
        width: 100%;
    }

    
    .stripe::before {
        height: 100%;
    }

    .grid-main {
        display: grid;
        grid-template-columns: none;
        grid-template-rows: repeat(1, 1fr);
        grid-column-gap: normal;
        text-align: center;
    }

    .grid-start-3 {
        grid-column-start: 2;
    }
    
    .grid-span-3 {
        grid-column: span 3;
    }
    
}
