/*I'm really sorry for this mess of CSS */

:root {
  --header: #191922;
  --bg: #292938;
  --grey: #636363;
}

@font-face {
  font-family: "vag";
  src: url(fonts/vaground.ttf);
}

@font-face {
  font-family: "irken";
  src: url(fonts/Irken.ttf);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}

body {
  min-width: 360px;
  margin: 0;
  font-family: "vag", sans-serif;
  letter-spacing: 0.025em;
}

.frank {
  display: inline;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

h1,
h2,
h3 {
  font-weight: 900;
}

.nav-font-size {
  font-size: 1.125rem;
  font-weight: 900;
}

.font-size {
  font-size: 21px;
}

.note {
  font-size: 12px;
  font-style: italic;
}

.font-grey {
  color: var(--grey);
}

.font-white {
  color: white;
}

.irken {
  font-family: "irken", sans-serif;
}

.italic {
  font-style: italic;
  font-weight: 100;
}

.bold {
  font-style: bold;
  font-weight: 700;
}

.m-bottom-30 {
  margin-bottom: 30px;
}

.m-right-15 {
  margin-right: 15px;
}

.m-right-30 {
margin-right: 30px;
}

.m-right-60 {
  margin-right: 60px;
}


.relative {
  position: relative;
}

.text-center {
  text-align: center;
}


.pic-center {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.mini-center {
  margin-top: auto;
  margin-bottom: auto;
}

.about-center {
  text-align: center;
  margin: 3rem;
}

.p-30 {
  padding: 30px 10px;
}

.section-bg {
  background-color: var(--bg);
  height: 100%;
}

.cooking-pic {
  width: 700px;
}

.header {
  position: relative;
  overflow: clip;

  background-color: var(--header);

  width: 100%;

  margin-top: -2.5em;

  padding-bottom: 3%;
}

.footer {
  height: 100px;
}

.address {
  color: #fff;
  font-size: 16px;
  text-align: left;
  position: absolute;
  left: 3%;
  top: 30px;
}

.header-right {
  display: flex;
  justify-content: flex-end;
  position: relative;
  right: 2%;
}

.name {
  color: #fff;

  position: relative;
  text-align: right;

  font-size: 2.3vmin;
  font-style: italic;

  top: 1rem;
}

.img-list {
  position: absolute;
  z-index: 1;
}

.img-list > li {
  display: inline-block;
  padding: 5px;
}

.img-list > li > a > img {
  width: 25px;
  height: 25px;
}

.nav-list > li {
  display: inline-block;
  padding: 15px;
}

.navigation {
  background-color: var(--header);

  width: 100%;
  height: 10%;

  text-align: center;
  margin-top: -25px;

  position: sticky;
  top: 0;

  z-index: 1;
}

.nav-list a:link,
a:visited {
  color: #fff;
  text-decoration: none;
}

.nav-list a:hover {
  color: #d3d3d3;
}

.pic {
  background-image: url(img/banner.jpg);
  background-size: cover;
  background-position-y: 50%;
  background-position-x: 50%;

  width: 100%;
  height: 300px;

  margin-top: -25px;
  padding-top: none;
}

.pic::after {
  background-color: var(--header);
  width: 100%;
  height: 600px;
  opacity: 0.3;
}

.mini {
  height: 350px;
}



.columns {
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 30px;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.direction-column {
  flex-direction: column;
}

.column-position {
  width: 40%;
  position: relative;
}

.stripe::before {
  display: block;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #e7812e;
  left: -3%;
  height: 280px;
  top: 5%
}

#menu .stripe::before {
  height: 780px;
  left: -23%;
}

.menu {
  position: absolute;
  left: 40%;
}

.title {
  text-align: center;
  font-size: 3em;
}

.title::before {
  display: block;
  position: relative;
  content: " ";
  width: 60%;
  height: 3px;
  background-color: #e7812e;
  left: 20%;
  top: -4px;
}

.menu-col {
  display: flex;
  flex-basis: content;
}

.mg-l-10 {
  margin-left: 10%;
}

.mx-l-10 {
  margin-left: -10%;
}


.menu > .columns > .menu-col > .menu-item > ul > li {
  list-style: none;
}

.menu > .columns > .menu-col > .menu-item > ul > li > p {
  display: inline;
}

.menu-pic {
  height: 200px;
  width: auto;
  float: left;
  border-radius: 50%;
}

.absolute {
  position: absolute;
}

ul.leaders {
  max-width: 25em;
  padding: 0;
  overflow-x: hidden;
  list-style: none;
}

ul.leaders li:before {
  float: left;
  width: 0;
  white-space: nowrap;
  content: ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . ";
}

ul.leaders span:first-child {
  padding-right: 0.33em;
  background: white;
}

ul.leaders span + span {
  float: right;
  padding-left: 0.33em;
  background: white;
}

.grid-main {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 50px;
}

.grid-start-3 {
  grid-column-start: 3;
  grid-column-end: 5;
}

.review {
  width: 50%;
  margin: auto;
  text-align: center;
}

.width-50 {
  width: 50%;
}

.top-70 {
  top: 70%;
}

.top-25 {
  top: 25px;
}

.m-left-13 {
  margin-left: 13%;
}

@media (max-width: 1627px) {
  .stripe::before {
    height: 85%;
  }

  #menu .stripe::before {
    height: 0;
  }
}

@media (max-width: 1200px) {
  .header {
    padding-bottom: 10%;
  }

  .stripe::before {
    height: 90%;
    top: 5%
  }

  .mx-l-10 {
    margin-left: auto
  }

  .eightk {
    position: relative;
    left: 6%;
  }

  .pic {
    height: 140px;
    background-position-x: 50%;
  }
  
  
}

@media (max-width: 850px) {
  
  .grid-start-3 {
    grid-column-start: 4;
  }

  .pic {
    height: 120px;
    background-position-x: 50%;
  }

  .column-position {
    width: 80%;
  }

}

@media (max-height: 500px) {
  .top-30 {
    top: 30px;
  }
}

@media (max-width: 640px) {
  .pic {
    background-position-x: 50%;
  }

  .mg-l-10 {
    margin-left: -3%;
  }


  .grid-span-3 {
    grid-column: span 5;
  }

  .eightk {
    position: relative;
    left: 25%;
  }
  

}

@media (max-width: 600px) {

  .auto {
    margin: auto;
  }  

  .pic {
    height: 100px;
    background-position-x: 50%;
    margin-top: -18px;
  }

  .header {
    height: 110px;
    padding-bottom: 10%;
  }
  

  .menu-pic {
    height: 130px;
  }

  .stripe::before {
    height: 95%;
    top: 2%;
  }

  .m-right-30 {
    margin-left: 10px;
  }

  .about-pic {
    height: 160px;
    margin-right: 10px;
  }

  .cooking-pic {
    width: 300px;
  }

  .font-size {
    font-size: 16px;
  }
  

  .column-position {
    width: 100%;
  }

  #team .columns {
    padding: none;
    max-width: 30%;
    margin: auto;
  }

  .grid-main {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: normal;
    text-align: center;
  }

  .grid-start-3 {
    grid-column-start: 2;
  }

  .grid-span-3 {
    grid-column: span 3;
  }

  .pic-center {
    width: 93%;
  }

  .about-center {
    margin: 1rem;
  }
  .top-30 {
    top: 30px;
  }

  .eightk {
    position: relative;
    left: 85%;
  }

  .width-50 {
    width: 90%;
  }

  .mini {
    height: 200px;
  }
}
